<h3><i class="fas fa-feather"></i> Diarium</h3>

<div class="section">
    <p class="lead">Capture your thoughts, one day at a time</p>   
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken-3">
    <i class="fab fa-google left"></i>
    Log in With Google
    </a>
</div>